<style>
    .admin-product {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin-top: 4rem;
        padding-left: 250px;
        padding-bottom: 7rem;
     
       
    }

    .search-container {
        align-items: center;
        margin: 3rem, 0;

    }


    .admin-product-search-container {
        border: 1px solid #3a3939;
        border-radius: 10px;
        padding: .2rem .3rem;
        margin-top: 2rem;
        margin-left: 4rem;

        background-color: #e4dada;
    }

    .admin-product-search-container input {
        border: none;
        background-color: #e4dada;
    }

    .product-list-box {

       
        /* width: 100vw; */
        width:80vw;
      /* // for sidebar */
    


    }
    .product-image-container{
        width: 50px;
        height: 50px;
        overflow: hidden;
    }
    .product-image{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
</style>


<%- include('navbar') %>
<%- include('sidebar') %>



    <div class="admin-product">


        <div class="search-container d-flex">
            <h2 class="text-white mt-4 ">Products</h2>

            <!-- product search -->
            <form action="/admin/product" method="get" class="admin-product-search-container d-flex">
                <input type="text" placeholder="search for products" name="productSearch" id="product-search">
                <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <!-- <input class="btn btn-primary" type="button" value="Search"> -->
            </form>
        </div>





        <div class="add-new-product  d-flex align-center">
            <a href="/admin/add-product" class="btn btn-success">Add Product <i class="fa-solid fa-plus"></i></a>
        </div>



        <div class="product-list-box">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Si.No</th>
                        <th scope="col">image</th>
                        <th scope="col">ProductName</th>
                        <th scope="col">Author</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Category</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <% products.forEach((product,index)=>{ %>

                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>

                            <th scope="row" class="product-imag-container">
                                <% product.productImage.forEach((image,index)=>{ %>
                                    <img src="../../<%= image %>" class="product-image">
                                <% }) %>
                            </th>
                            <td class="product-name-td">
                                <%= product.productName %>
                            </td>
                            <td>
                                <%= product.productAuthor %>
                            </td>
                            <td><i class="fa-solid fa-indian-rupee-sign"></i>
                                <%= product.productPrice %>
                            </td>
                            <td>
                                <!-- <%= product.productQuantity %> -->

                                <% if (product.productQuantity <= 0) { %>
                                    <span class="text-danger"> Out of Stock</span>
                                <% } else { %>
                                    <%= product.productQuantity %>
                                <% } %>
                            </td>
                            <td>
                                <%= product.productCategory %>
                            </td>
                            <td>
                                <a class="btn btn-warning edit-product-btn"
                                    href="/admin/edit-product/<%= product.id %>">Edit</a>
                                <!-- <a class="btn btn-outline-danger" id="inactive-product-btn" href="">Inactive</a> -->
                                <% if(product.isActive){ %>
                                    <a class="btn btn-outline-danger inactive-product-btn"
                                        href="/admin/product-inactive/<%= product.id %>">Inactive</a>
                                    <% }else{ %>
                                        <a class="btn btn-outline-success active-product-btn"
                                            href="/admin/product-active/<%= product.id %>">Active</a>
                                        <% } %>
                                            <button class="btn btn-danger remove-product-btn"
                                                value="<%= product.id %>">Remove</button>
                            </td>
                        </tr>

                        <% }) %>


                </tbody>
            </table>
        </div>

        <%- include('pagination') %>
    </div>


    <%- include('footer') %>

        <script>


            // deactivatind the product

            const deactivateProduct = document.querySelectorAll(".inactive-product-btn")
            // because of many buttons for each is used to traverse and add eventListener for each of them
            deactivateProduct.forEach((button) => {
                button.addEventListener("click", function (event) {
                    event.preventDefault();

                    Swal.fire({
                        title: 'Deactivate the Product',
                        text: "Are you sure do you want to deactivate this Product?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d11a2a',
                        cancelButtonColor: '#808080',
                        confirmButtonText: 'Yes, Deactivate it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = event.target.href;
                        }
                    });

                })
            })


            //activate the product
            const activateProduct = document.querySelectorAll(".active-product-btn")
            // because of many buttons for each is used to traverse and add eventListener for each of them
            activateProduct.forEach((button) => {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    Swal.fire({
                        title: 'Activate the Product',
                        text: "Are you sure do you want to activate this Product?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d11a2a',
                        cancelButtonColor: '#808080',
                        confirmButtonText: 'Yes, activate it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = event.target.href;
                        }
                    });

                })
            })


            // delete the product
            const deleteProduct = document.querySelectorAll(".remove-product-btn")

            deleteProduct.forEach((button) => {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    Swal.fire({
                        title: "Delete Category !",
                        text: "Are you sure do you want to permanently delete this category?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // window.location.href = event.target.href;
                            const productId = event.target.value;
                            window.location.href = `/admin/delete-product/${productId}`

                        }

                    })

                })
            })

        </script>