
<style>

.pagination-spacing {
    margin-top: 2rem; 
}
</style>



<!-- Pagination -->
<nav aria-label="Page navigation example " class="pagination-spacing">
    <ul class="pagination justify-content-center">
        <li class="page-item">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button class="page-link" onclick="previousPage('<%= parseInt(currentpage) %>')">Previous</button>
        </li>
        <% for(let i = 1; i <= pageNumber; i++) { %> 
            <li class="page-item">
                <a class="page-link" href="?page=<%= i %>" ><%= i %></a>
            </li>
        <% } %>
        <li class="page-item">
            <button class="page-link" onclick="nextPage('<%= parseInt(currentpage) %>','<%= pageNumber %>')">Next</button>
        </li>
    </ul>
</nav>


<script>

    // next page
    function nextPage(currentpage,totalPage){
        if(Number(currentpage)<Number(totalPage)){
            window.location.href=`?page=${Number(currentpage)+1}`
        }
    }

    // previous page
    function previousPage(currentpage){
        if((Number(currentPage)-1)!=0){
            window.location.href=`?page=${Number(currentpage)-1}`
        }
    }

</script>