<style>
    body {
        background-color: black;
    }

    .prdocut-container {
        padding: 2rem, 0;
        margin-bottom: 5rem;
    }

    .product-container h2 {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        text-decoration: underline;

        color: rgb(162, 218, 33);
    }

    .product-category-container {
        display: flex;
        justify-content: space-around;
        font-family: "Roboto", sans-serif;
        flex-wrap: wrap;
        gap: 2rem;


    }

    .product-category-container a {
        cursor: pointer;
        transition: .3s ease-in-out;
        text-decoration: none;
        color: aqua;

    }

    .product-category-container a :hover {
        scale: 1.1;
    }

    .product-list-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .product-box {
        text-decoration: none;
        border: 1px solid #b2b2b2;
        border-radius: 10px;
        width: 300px;
        margin-top: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;


    }

    /* .product-box:hover{
        transform: scale(1.5); 
    } */
    .product-image-box {
        height: 290px;
        width: 290px;
    }

    .product-image-box img {
        margin: auto;
        width: 250px;
        height: 290px;
        object-fit: scale-down;
        /* cursor: pointer;
        transition: transform 0.3s; */

        /* transform: scale(1);  */

    }


    .product-text-row {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-name-box {
        color: white;
        margin-left: 4rem;


    }

    .product-discount-box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 2rem;
        color: #0f0f0f;
        background-color: rgb(36, 189, 36);
        border-radius: 5px 0;
    }

    .product-newArrival-box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 2rem;
        color: #ffffff;
        background-color: rgb(50, 195, 50);
        border-radius: 5px 0;
    }

    .product-price {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }

    /* Breadcrumb navigation styles */
    .breadcrumbs {
        margin: 20px 0;
        /* Adjust margin as needed */
        font-size: 16px;
        /* Adjust font size as needed */
    }

    .breadcrumbs ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .breadcrumbs li {
        display: inline;
        margin-right: 10px;
        /* Adjust spacing between breadcrumb items */
    }

    .breadcrumbs li:last-child {
        font-weight: bold;
        /* Make the last breadcrumb item bold */
    }

    .breadcrumbs a {
        text-decoration: none;
        color: white;
        /* Link color */
    }

    .breadcrumbs span {
        color: white;
    }

    .breadcrumbs a:hover {
        text-decoration: underline;
        color: rgb(75, 75, 172);
        /* Underline on hover */
    }

    /* Style for the current page (last breadcrumb item) */
    .breadcrumbs span {
        font-weight: bold;
    }
</style>
<%-include ('navbar') %>

    <nav class="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <span>/</span>
            <li><a href="/product">productSeemore</a></li>


        </ul>
    </nav>

    <div class="product-container">

        <h2 class="product-book">BOOKS</h2>



        <div class="product-list-box container">
            <% product.forEach((product)=>{ %>

                <a href="/user/product-view/<%=product.id %>" class="product-box">

                    <% if(product.productDiscount!=0) {%>
                        <div class="product-discount-box">
                            <h6>
                                <%= product.productDiscount %> &percnt; OFF
                            </h6>
                        </div>
                        <% } else if(new Date(product.addedOn).getTime()>(Date.now() - (1 * 24 * 60 * 60 * 1000))) {%>

                            <div class="product-newarrival-box">
                                <h6>New Arrival</h6>
                            </div>
                            <% } %>


                                <div class="product-image-box">
                                    <img src="/<%=product.productImage[0] %>" alt="">
                                </div>

                                <div class="product-name-box">
                                    <h6 class="product-text-row">
                                        <%=product.productName%>
                                    </h6>
                                    <p class="product-description product-text-row">
                                        <%=product.productAuthor %>

                                    </p>
                                    <h5 class="product-price"><i
                                            class="fa-solid fa-indian-rupee-sign product-text-row"></i>
                                        <%=product.productPrice.toLocaleString() %>
                                    </h5>
                                </div>
                </a>



                <% }) %>
        </div>

    </div>

    <%-include ('footer') %>