
    <style>
        body {
            background-color:black;
            color: #ffffff;
            font-family: Arial, sans-serif;
        }

        

        .form-control {
            background-color: #F1D9D9;
            color: #0f0f0f;
            border: none;
        }

        .form-control:focus {
            background-color: #e7dfdf;
            color: #0e0d0d;
        }

        .profile-container {
            margin-top: 20px;
          
        }
        .left-container{
            background-color:#2b2b2b ;
            border-radius: 20px;
           padding: 20px;
        }

        .profile-header {
            /* background-color: #333333; */
            padding: 20px;
            border-radius: 10px;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .profile-header img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .profile-header h3 {
            margin: 0;
        }

        .profile-header p {
            margin: 5px 0 0;
        }
         .form-group input:focus{
            color: #131212;
        }

         .form-group input::placeholder{
            color: #1f1e1e;
        }  
      



        .button-container {
         display: flex;
         justify-content:center;

         margin-top: 1rem;
         width: 100%; /* Adjust width as needed */
         }

         .btn-save, .btn-cancel {
          width: 20%; /* Adjust width to fit within the container */
          padding: 10px;
          border: none;
         border-radius:10px ;
         margin-right: 10px;

         }

       .btn-save {
        background-color: #DB4444;
        color: #fefeeb;
         }

        .btn-cancel {
         background-color: #6c757d;
         margin-top: 0; /* Remove top margin */
         color: #fefeeb;
         }


      

        .side-menu {
            background-color: #333333;
            border-radius: 10px;
            padding: 20px;
            margin-left: 20px;
        }

        .side-menu a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
        }

        .side-menu a:hover {
            text-decoration: underline;
        }

        .side-menu h4 {
            margin-bottom: 20px;
        }

        .form-group label {
            margin-top: 10px;
        }

        .form-container {
            background-color:#fefeeb;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
            color: #232323;
        }
       
    </style>

 <%-include('navbar')%>
    <div class="container profile-container">
        <div class="row">
            <div class="col-md-8 left-container">
                <div class="profile-header">
                    <img src="../../image/avatar.png" alt="Profile Picture">
                    <div>
                        <h3><%=userDetail.name%></h3>
                        <p><%=userDetail.email%></p>
                    </div>
                </div>
                <div class="form-container">
                
                    
               
                        <form action="/user/profile" method="post" id="edit-personal-form" >

                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="name" value="<%=userDetail.name%>">
                        </div>
                      
                        
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="number" name="number" value="<%=userDetail.number%>">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"   value="<%=userDetail.email%>" disabled>
                        </div>
                       
                        <div class="button-container">
                            <button type="submit" class="btn-save">Save Changes</button>
                            <!-- <button  type="button" class="btn-cancel" >Cancel</button> -->

                            <button type="button" class="btn-cancel" onclick="resetForm()">Cancel</button>
                          </div>
                     
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="side-menu">
                    <h4>Manage account</h4>
                    <a href="/user/profile">Personal Information</a>
                  
                    <a href="#">Edit Address</a>
                    <a href="#">Change Password</a>
                    <h4>My order</h4>
                    <a href="#">Order status</a>
                    <a href="#">Order history</a>
                    <a href="#">Return item</a>

                    <a href="/user/logout">SignOut</a>
                </div>
            </div>
        </div>
    </div>






    <%-include('footer') %>


    <script>
        function resetForm() {
            document.getElementById("edit-personal-form").reset();
        }
    </script>

  
