<style>
    .similar-product-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 5rem;

    }

    .product-box {
        /* text-decoration: none; */
        color: #000000;
        border: 1px solid #b2b2b2;
        border-radius: 10px;
        width: 300px;
        padding: 1rem;
        margin-top: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        transition: transform 0.3s ease;

    }
    .product-box:hover {
    transform: scale(1.1);
}
    .product-name-link{
        text-decoration: none;
        color: white;
    }

    .product-image-box {
        height: 250px;
        width: 250px;
    }

    .product-image-box img {
        margin: auto;
        width: 250px;
        height: 250px;
        object-fit: scale-down;
    }

    .product-text-row {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-discount-box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 2rem;
        color: #ffffff;
        background-color: rgb(50, 195, 50);
        border-radius: 5px 0;
    }

    .product-new-arrival-box {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 2rem;
        color: #ffffff;
        background-color: rgb(50, 195, 50);
        border-radius: 5px 0;
    }

    .product-description-box {
        color: white;
        text-align: center;

    }

    .product-price {
        /* display: flex;
        flex-direction: row; */
        /* align-items: center;  */
        gap: .5rem;
    }
    .wishlist-icon {
        font-size: 24px;
        color: #e4d9d9;
        margin-left: 10rem;
        padding-left: 3rem;

    }

    .cart-icon {
        font-size: 24px;
        color: #e4d9d9;
        margin-left: 1rem;
    }
    .wishlist-icon i {
        transition: transform 0.3s ease; 
    }

    .wishlist-icon i:hover {
        transform: scale(1.2); 
    }

    .cart-icon i {
        transition: transform 0.3s ease;
    }

    .cart-icon i:hover {
        transform: scale(1.2); 
    }
    .heart-fill {
        color: red;
    }

    .heart {
        color: white;
    }


</style>




<div class="similar-product-container container">
    <!-- this will render each product on the product collection which is not blocked -->
    <% similarProducts.forEach((product)=>{ %>
        <!-- this is the product container and when it is clicked it redirect to product detail page -->
       <div class="product-box">

            <!-- if product discount is available then it is shown as a banner in product top  -->
            <% if(product.productDiscount!=0){ %>
                <div class="product-discount-box">
                    <h6>
                        <%= product.productDiscount %>&percnt; OFF
                    </h6>
                </div>

                <!-- if the product is added which one day then new arrival banner is shown on top of the product box -->
                <% }else if (new Date(product.addedOn).getTime()> (Date.now() - (1 * 24 * 60 * 60 * 1000))){ %>
                    <div class="product-new-arrival-box">
                        <h6>New Arrival</h6>
                    </div>
                    <% } %>


                        <!-- image of product which is stored in uploads folder -->
                        <div class="product-image-box">
                            <img src="/<%= product.productImage[0] %>" alt="">
                        </div>
                        <!-- product description with text overflow as ... -->
                        <div class="product-description-box">
                            <a href="/product-view/<%= product.id %>" class="product-name-link">
                            <h6 class="product-text-row">
                                <%= product.productName %>
                            </h6>
                        </a>
                            <p class="product-name product-text-row">
                                <%= product.productAuthor %>
                            </p>
                            <h5 class="product-price"><i class="fa-solid fa-indian-rupee-sign product-text-row"></i>
                                <%= product.productPrice.toLocaleString() %>
                            </h5>
                        </div>

                        <div>
                                    
                            <div class="d-flex flex-row-reverse gap-3">
                                <% if(user && wishlist && wishlist.products.some(item=>item.productId.equals(product.id) ))
                                    { %>

                                    <a class="wishlist-icon" id="wishlist-heart">
                                        <i class="fas fa-heart heart-fill"
                                            onclick="addToWishlist('<%= product.id %>', '<%= user %>', this)"></i>
                                    </a>

                                    <% } else { %>
                                        <a class="wishlist-icon" id="wishlist-heart">
                                            <i class="fas fa-heart heart"
                                                onclick="addToWishlist('<%= product.id %>', '<%= user %>', this)"></i>
                                        </a>
                                        <% } %>



                                            <!-- Cart Icon -->
                                            <a onclick="addToCart('<%= product.id %>','<%= product.productPrice %>','<%=user %>')"
                                                class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                            <!-- product availability -->
                            <% if(product.productQuantity<=0){ %>
                                <h6 class="product-availability">Product Out of stock</h6>
                                <% } %>

                        </div>
        <!-- </a> -->
       </div>

        <% }) %>
</div>

<script>


  // add tocart from icon

  async function addToCart(productId, price, user) {


const URL = `/add-to-cart/${productId}/?price=${price}`;

try {
    if (user) {
        const response = await fetch(URL, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            const data = await response.json();
            Swal.fire({
                icon: "success",
                title: data.message || "Product added to cart",
                showConfirmButton: false,
                timer: 700,
            }).then(() => {
                window.location.reload();
            });
        } else {
            const errorData = await response.json();
            throw new Error(errorData.error || "Failed to add product to cart");
        }
    }

    else {
        Swal.fire({
            icon: "warning",
            title: "Not logged in",
            text: "Please log in to add products to cart"
        });
    }
} catch (err) {
    Swal.fire({
        icon: "warning",
        title: "Cannot add product to cart",
        text: err.message
    });
}
}


    //  add to wish list


    async function addToWishlist(productId, user, wishlistIcon) {
        const URL = `/addtowishlist`;

        try {
            if (user) {
                const response = await fetch(URL, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId })
                });
                if (response.ok) {
                    const data = await response.json();




                    if (data.inwishlist) {
                        wishlistIcon.classList.remove('heart');
                        wishlistIcon.classList.add('heart-fill');
                        
                        Swal.fire({
                        icon: "success",
                        title: data.message || "Product added to wishlist",
                        showConfirmButton: false,
                        timer: 700,
                    })




                    } else {
                        wishlistIcon.classList.remove('heart-fill');
                        wishlistIcon.classList.add('heart');


                        Swal.fire({
                        icon: "success",
                        title: data.message || "Product removed from wishlist",
                        showConfirmButton: false,
                        timer: 700,
                    })
                        



                    }

                    

                } else {
                    const errorData = await response.json();
                    throw new Error(errorData.error || 'Failed to add product to wishlist');
                }
            } else {
                Swal.fire({
                    icon: "warning",
                    title: "Not logged in",
                    text: "Please log in to add products to your wishlist"
                });
            }

        } catch (err) {
            Swal.fire({
                icon: "error",
                title: "can't add product wishlist",
                text: err.message
            });

        }
    }

</script>